<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    {% endblock %}
</head>
<body>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <script type="application/javascript" src="js/jquery.min.js"></script>
    <script type="application/javascript" src="js/all.min.js"></script>
    <script type="application/javascript" src="js/bootstrap.min.js"></script>
    <script type="application/javascript" src="js/popper.min.js"></script>
    <script type="application/javascript" src="js/vue.min.js"></script>
    <script type="application/javascript" src="js/axios.min.js"></script>
    {% block js %}{% endblock %}
</body>
</html>
